@model List<SmashWorldCup.ViewModels.TournamentRankingViewModel>

<div>
    <table class="table" style="color: @Model[0].Color; border-color: @Model[0].Color">
        <tr style="border-color: @Model[0].Color">
            <th>Tournament</th>
            <th>Position</th>
            <th>Rank</th>
        </tr>

        @foreach(var ranking in @Model)
        {
                if(ranking.Host == true)
                {
                    <tr style="border-color: @Model[0].Color">
                        <td><strong>@ranking.Tournament</strong></td>
                        <td><strong>@ranking.Position</strong></td>
                        <td><strong>@ranking.Rank</strong></td>
                    </tr>
                }
                else
                {
                    <tr style="border-color: @Model[0].Color">
                        <td>@ranking.Tournament</td>
                        <td>@ranking.Position</td>
                        <td>@ranking.Rank</td>
                    </tr>
                }
        }
    </table>
</div>