@model List<SmashWorldCup.ViewModels.TournamentTableViewModel>

<h3>@Model[0].Stage</h3>

<div>
    <table class="table">
        <tr>
            <th></th>
            <th>Name</th>
            <th>P</th>
            <th>W</th>
            <th>D</th>
            <th>L</th>
            <th>KOF</th>
            <th>KOA</th>
            <th>KOD</th>
            <th>Pts</th>
        </tr>

        @for(int i=0; i<Model.Count; i++)
        {
            <tr>
               <td>@(i+1)</td>
               <td>@Model[i].Name</td>
               <td>@Model[i].Played</td>
               <td>@Model[i].Wins</td>
               <td>@Model[i].Draws</td>
               <td>@Model[i].Losses</td>
               <td>@Model[i].KOsFor</td>
               <td>@Model[i].KOsAgainst</td>
               <td>@Model[i].KOsDifference</td>
               <td>@Model[i].Points</td>
            </tr>
        }
    </table>
</div>