@model SmashWorldCup.ViewModels.GameListViewModel

@{
    var id = @Model.Character.GameID - 1;
}

<select id="gameList" name="inGameID" class="selectList js-example-basic-single" style="color: @Model.Character.TextColor; background-color:@Model.Character.Color; border-color: @Model.Character.TextColor">
    @foreach(var game in Model.GameList)
    {
        <option value="@game.ID">@game.Name</option>
    }
</select>

<script>

    var id = @id;

    document.getElementById("gameList").selectedIndex = id;

</script>