@model SmashWorldCup.ViewModels.CharacterViewModel

@{
    var wins = @Model.Wins;

    ViewData["Title"] = @Model.Name;

    for(int i=1; i <= wins; i++)
    {
        ViewData["Title"] += "*";
    }
}

@*<img src="file:/D:/Gaming/Smash/World Cup/Logos/1 - Mario.jpg">*@

<header style="background-color: @Model.Color">
    @await Component.InvokeAsync("NavigationBar", new { inColor = @Model.TextColor }) <br />
    <h1 style="color: @Model.TextColor">@ViewData["Title"]</h1>
</header>
<body style="background-color: @Model.Color">
    <div>
        <input type="text" id="backgroundColor" value="@Model.Color" style="display:none">
        <input type="text" id="textColor" value="@Model.TextColor" style="display:none">
        <h3 style="color: @Model.TextColor">All Time Record</h3><br>
        @await Component.InvokeAsync("TournamentRankings", new { inID = @Model.ID })
    </div>
</body>