@model SmashWorldCup.ViewModels.CharacterViewModel

@{
    ViewData["Title"] = @Model.Name + " Properties";
}

<header style="background-color: @Model.Color">
    @await Component.InvokeAsync("NavigationBar", new { inColor = @Model.TextColor }) <br />
    <h1 style="color: @Model.TextColor">@ViewData["Title"]</h1>
</header>
<body style="background-color: @Model.Color">
    <a href='@Url.Action("CharacterRecord","Character", new {inCharacterID = @Model.ID})' class="btn button navButton" style="color:@Model.TextColor; border-color:@Model.TextColor; background-color:@Model.Color"> Back</a><br/>
    <div class="box" style="color: @Model.TextColor; padding-bottom: 10px">
        @using(Html.BeginForm("Properties", "Character", new { inCharacterID = @Model.ID, @enctype = "multipart/form-data" }))
        {
            <label>Name</label> <br />
            <input type="text" id="inName" name="inName" value="@Model.Name" class="inputBox" style="color: @Model.TextColor; background-color: @Model.Color; border-color: @Model.TextColor" /> <br />
            <label>Game</label> <br />
            @await Component.InvokeAsync("GameList", new { inCharacterID = @Model.ID }) <br />
            <label>Rating</label> <br />
            @await Component.InvokeAsync("RatingList", new { inCharacterID = @Model.ID}) <br />
            <label>Character Color</label> <br />
            <input type="color" id="inColor" name="inColor" value="@Model.Color" style="border-color: @Model.TextColor" /> <br />
            <label>Character Text Color</label> <br />
            <input type="color" id="inTextColor" name="inTextColor" value="@Model.TextColor" style="border-color: @Model.TextColor" /> <br />
            <label>Character Logo:</label> <br />
            <img src="/img/Logos/@Model.Logo" class="logo" style="border-color: @Model.TextColor"> <br /><br />
            <label>Upload New Logo:</label>
            <input type="file" accept="image/*" id="inLogo" name="inLogo"><br /><br />
            <input type="submit" class="btn button" style="color: @Model.TextColor; border-color: @Model.TextColor" id="updateSettings" name="updateSettings" value="Update"/>
        }
    </div>
</body>

<script>
    //check file type on upload, display error message and clear if not image
</script>
