@model SmashWorldCup.ViewModels.CharacterViewModel

@{
    ViewData["Title"] = @Model.Name + " Properties";
}

<div class="box" style="color: @Model.TextColor; padding-bottom: 10px">
    <!--using-->
    <label>Character Color</label> <br />
    <input type="color" id="inColor" name="inColor" value="@Model.Color" /> <br />
    <label>Character Text Color</label> <br />
    <input type="color" id="inTextColor" name="inTextColor" value="@Model.TextColor" /> <br />
    <input type="submit" class="btn button" style="color: @Model.Color; border-color: @Model.TextColor" id="updateSettings" name="updateSettings" value="Update"/>
</div>
