@model SmashWorldCup.Models.MatchModel;

@{
    ViewData["Title"] = "Edit Match";

    var message = "";
    var dateTime = TempData["dt"];
    int? venueID = 0;
    int? suddenDeath = 0;

    if(Model.VenueID != null) venueID = Model.VenueID;
    if(Model.SuddenDeath != null) venueID = Model.SuddenDeath;

    if(TempData["message"] != null) message = TempData["message"].ToString();
}

@await Component.InvokeAsync("NavigationBar")

<h1>Edit Match</h1>

<p name="message" style="color: green">@message</p>

@using(Html.BeginForm("EditMatch", "Match", new { inMatchID = @Model.ID }))
{
    <div id="editMatchDiv"> 
        <h3>Fighter 1</h3>
        @await Component.InvokeAsync("CharacterList", new { inAmount = 1, inCharacterID = @Model.Fighter1 })
        <h3>Score 1</h3>
        <input type="text" size="2" name="inScore1" class="textBox" value="@Model.Score1" />
        <h3>Score 2</h3>
        <input type="text" size="2" name="inScore2" class="textBox" value="@Model.Score2" />
        <h3>Fighter 2</h3>
        @await Component.InvokeAsync("CharacterList", new { inAmount = 2, inCharacterID = @Model.Fighter2 })
        <h3>Tournament</h3>
        @await Component.InvokeAsync("TournamentList", new { inTournamentID = @Model.TournamentID })
        <h3>Venue</h3>
        @await Component.InvokeAsync("VenueList", new { inVenueID = venueID })
        <h3>Stage</h3>
        @await Component.InvokeAsync("StageList", new { inStageID = @Model.StageID })
        <h3>Date</h3>
        <input type="datetime-local" id="inDate" name="inDate" value="@dateTime"/> <br>
        <h3>Sudden Death</h3>
        @await Component.InvokeAsync("CharacterList", new { inAmount = 3, inCharacterID = @suddenDeath})
        <input type="submit" name="btnAddMatch" value="Update" class="btn button" />
    </div>
}

@*<script>

    window.onload = function()
    {
        var matchDate = @Model.Date;

        var inDate = document.getElementByID("inDate");
        inDate.Value = formatDate(matchDate);
    };

    function formatDate(date) {
        var d = new Date(date),
            month = '' + (d.getMonth() + 1),
            day = '' + d.getDate(),
            year = d.getFullYear();

        if (month.length < 2) 
            month = '0' + month;
        if (day.length < 2) 
            day = '0' + day;

        return [year, month, day].join('-');
    }
</script>*@